<% include ../common/header %>
<br />
<form id="addCommentForm" method="POST"></form>
<textarea rows="4" cols="50" name="text" form="addCommentForm"></textarea>
<br />
<br />
<button type="submit" value="submit" class="orSpan" form="addCommentForm">submit</button>
<br />
<br />
</div>
<% include ../common/footer %>
