<!DOCTYPE html>
<head>
  <title> <%= title %> </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" >
</head>
<body class='container'>
  <% if(showNavbar) { %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="navbar">
      <img src="/images/y18.gif">
      <a id="hnLabel" <a href="/news" >Hacker News</a>
      <a>welcome</a>
      <ul>
        <li> <a>news</a> </li>
        <li> <a>threads</a> </li>
        <li> <a>comments</a> </li>
        <li> <a>show</a> </li>
        <li> <a>ask</a> </li>
        <li> <a>jobs</a> </li>
        <li> <a href="/submit">submit</a> </li>
      </ul>
    </div>
    <br />
    <div class="clear"></div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="content">
  <% } %>
