<% include ../common/header %>
<br />
<div id="comments">
<form id="addCommentForm" method="POST"></form>
<textarea rows="4" cols="50" name="text" form="addCommentForm"></textarea>
<br />
<br />
<button type="submit" value="submit" class="orSpan" form="addCommentForm">submit</button>
<br />
<br />
<ul>
  <% if(comments.length > 0) { %>
    <% comments.forEach(function(comment){ %>
      <li>
        <span>
        <a href="#"><%= comment.created_by %></a> <a href="#"><%= comment.timeTillNow %></a>
        </span>
        <p>
        <%= comment.text %>
        </p>
      </li>
    <% }) %>
  <% } %>
</ul>
</div>
<% include ../common/footer %>
