<% include ../common/header %>

<ol>
  <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
      <br />
    	<div class="info">
        <span> 406 points</span>by
        <a class="info">Lord_Nightmare</a>
        <a class="info">10 hours ago</a> |
        <a class="info">60 comments</a>
      </div>
    </li>

    <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
        <br />
        <div class="info">
          <span> 406 points</span>by
          <a class="info">Lord_Nightmare</a>
          <a class="info">10 hours ago</a> |
          <a class="info">60 comments</a>
        </div>
      </li>

      <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
          <br />
        	<div class="info">
            <span> 406 points</span>by
            <a class="info">Lord_Nightmare</a>
            <a class="info">10 hours ago</a> |
            <a class="info">60 comments</a>
          </div>
        </li>

        <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
            <br />
            <div class="info">
              <span> 406 points</span>by
              <a class="info">Lord_Nightmare</a>
              <a class="info">10 hours ago</a> |
              <a class="info">60 comments</a>
            </div>
          </li>

          <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
              <br />
              <div class="info">
                <span> 406 points</span>by
                <a class="info">Lord_Nightmare</a>
                <a class="info">10 hours ago</a> |
                <a class="info">60 comments</a>
              </div>
            </li>

            <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                <br />
                <div class="info">
                  <span> 406 points</span>by
                  <a class="info">Lord_Nightmare</a>
                  <a class="info">10 hours ago</a> |
                  <a class="info">60 comments</a>
                </div>
              </li>


              <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                  <br />
                  <div class="info">
                    <span> 406 points</span>by
                    <a class="info">Lord_Nightmare</a>
                    <a class="info">10 hours ago</a> |
                    <a class="info">60 comments</a>
                  </div>
                </li>


                <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                    <br />
                    <div class="info">
                      <span> 406 points</span>by
                      <a class="info">Lord_Nightmare</a>
                      <a class="info">10 hours ago</a> |
                      <a class="info">60 comments</a>
                    </div>
                  </li>


                  <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                      <br />
                      <div class="info">
                        <span> 406 points</span>by
                        <a class="info">Lord_Nightmare</a>
                        <a class="info">10 hours ago</a> |
                        <a class="info">60 comments</a>
                      </div>
                    </li>


                    <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                        <br />
                        <div class="info">
                          <span> 406 points</span>by
                          <a class="info">Lord_Nightmare</a>
                          <a class="info">10 hours ago</a> |
                          <a class="info">60 comments</a>
                        </div>
                      </li>

                      <li><a class="newsTitle">MAME is now Free and Open Source Software</a> <a class="info">(mamedev.org)</a>
                          <br />
                          <div class="info">
                            <span> 406 points</span>by
                            <a class="info">Lord_Nightmare</a>
                            <a class="info">10 hours ago</a> |
                            <a class="info">60 comments</a>
                          </div>
                        </li>

</ol>

<% include ../common/footer %>
